@model Othello_Game.Models.Jugador_Partida

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Jugador_Partida</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.movimientos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.movimientos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad_fichas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad_fichas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jugador.nombres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jugador.nombres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Jugador_Partida2.color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jugador_Partida2.color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Partida.color_siguiente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partida.color_siguiente)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_jugador_partida }) |
    @Html.ActionLink("Back to List", "Index")
</p>
