@model OthelloGame_2.Models.Jugador

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="~/Content/Perfil.css" />
<section class="photo" id="inicio">
    <br />
    <div class="photo-text">
        <h4 data-ix="skype">Tu Perfil</h4>
        <br />
        <dl class="dl-horizontal">
            <dt>
                Nombre Completo:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.nombres)
            </dd>
            <br />
            <dt>
                Apellidos:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apellidos)
            </dd>
            <br />
            <dt>
                Usuario:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.id_usuario)
            </dd>
            <br />
            <dt>
                Password:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.contrasenia)
            </dd>
            <br />
            <dt>
                Fecha de Nacimiento:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.fecha_nacimiento.Day) - @Html.DisplayFor(model => model.fecha_nacimiento.Month) - @Html.DisplayFor(model => model.fecha_nacimiento.Year)
            </dd>
            <br />
            <dt>
                Correo Electronico:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.correo)
            </dd>
            <br />
            <dt>
                Pais:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Pais.nombre)
            </dd>
        </dl>

    </div>
    <div class="overlay"></div>
</section>