<link rel="stylesheet" type="text/css" href="~/Content/Layout.css" />
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Othello Game</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:rgba(66,4,4,0.88);">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Othello", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                <a href="@Url.Action("Index","Home", new {area = ""})">
                    <img class="imgBoton" src="@Url.Content("~/img/sticker.png")" width="45" />
                </a>

            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        
        <footer>
            <div class="row text-center btn-group-sm">
                <div class="col-md-4">
                    <br />
                    <br />
                    <br />
                    <p>Project By - Byron Par</p>
                    <p>Auxiliar - Andrea Lopez ♥</p>
                </div>
                <div class="col-md-4">
                    <br />
                    <br />
                    <br />
                    <img src="~/img/sticker.png" width="45" />
                    <p class="badge">&copy; @DateTime.Now.Year - Othello Game</p>
                </div>
                <div class="col-md-4">
                    <br />
                    <h3>CONTACTOS</h3>
                    <p><a class="social-media" href="https://www.facebook.com/byron.par.98" target="_blank"><img src="~/img/facebook.png" width="20" height="20">Facebook</a></p>
                    <p><a class="social-media" href="https://twitter.com/Spm_Poeta" target="_blank"><img src="~/img/twitter.png" width="20" height="20">Twitter</a></p>
                    <p><a class="social-media2" href="https://github.com/ByronPar" target="_blank"><img src="~/img/github.png" width="20" height="20">Github</a></p>
                </div>
            </div>
        </footer>
    </div>
    
        
   
    
    
   
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
