@model Othello_Game.Models.Jugador

@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Details";
}
<style type="text/css">
body{
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
}

.photo{
  width: 100%;
  height: 700px;
  position: center;
  background: url(../../img/perfil.png) center;
  background-size: cover;
  overflow: hidden;
}

.photo-text{
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay{
  position:absolute;
  z-index: 1;
  width: 100%;
  height: 700px;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, .35);
}

.photo h4{
  font-size: 60px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #FEFFFF;
  margin: 10px;
  cursor: pointer;
  position: relative;
  z-index: 998;
}

.photo p{
  width: 60%;
  text-align: center;
  letter-spacing: 1.5px;
  color: #D7DADE;
  position: relative;
  z-index: 998;
}
    .photo dt,
    .photo dd {
        width: 65%;
        text-align: left;
        letter-spacing: 1.5px;
        color: #e9ecf0;
        position: relative;
        z-index: 998;
    }
</style>

<section class="photo" id="inicio">
    <br />
    <div class="photo-text">
        <h4 data-ix="skype">Tu Perfil</h4>
        <br />
        <dl class="dl-horizontal">
            <dt>
                Nombre Completo:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.nombres)
            </dd>
            <br />
            <dt>
                Apellidos:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.apellidos)
            </dd>
            <br />
            <dt>
                Usuario:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.id_usuario)
            </dd>
            <br />
            <dt>
                Password:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.contrasenia)
            </dd>
            <br />
            <dt>
                Fecha de Nacimiento:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.fecha_nacimiento.Day) - @Html.DisplayFor(model => model.fecha_nacimiento.Month) - @Html.DisplayFor(model => model.fecha_nacimiento.Year)
            </dd>
            <br />
            <dt>
                Correo Electronico:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.correo)
            </dd>
            <br />
            <dt>
                Pais:
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Pais.nombre)
            </dd>
        </dl>

    </div>
    <div class="overlay"></div>
</section>


