@model OthelloGame_2.Models.Partida

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/Tablero.css" />
@if (Model == null)
{
    using (Html.BeginForm("Individual", "Partida"))// para seleccionar el color
    {
        @Html.AntiForgeryToken()
        <div class="overlay" id="overlay">
            <div class="contenido">
                <div class="titulo">Escoge un color</div>
                <br />
                <center>
                    <select name="color">
                        <option value="Blanco" selected>Blanco</option>
                        <option value="Negro">Negro</option>
                    </select>
                    <br />
                    <br />
                    <button class="btn btn-primary" id="iniciar">Iniciar Juego</button>
                    <br />
                    <br />
                </center>
            </div>
        </div>
    }
}


<div class="row">
    <div style=" height: 650px; background-color: rgba(255, 255, 255,0.13);" class="col-lg-3 datos">
        <center>
            @if (Model != null)
            {
                <script>
                    document.getElementById("overlay").style.display = "none";
                </script>
                <br />
                <p> Jugador 1 : @Model.Jugador.nombres</p>
                <br />
                <p class="datos">Movimientos : @Model.movimientos</p>
                <br />
                <p class="datos">Color Ficha : @Model.color</p>
                <br />
                <p class="datos">Cantidad Fichas : @Model.cantidad_fichas</p>
            }
        </center>


    </div>

    <div style="background-color: green; height: 650px; text-align:center; " class="col-lg-6">
        <br />
        @{
            if (!string.IsNullOrEmpty(ViewBag.Message))
            {
                //message tiene valor
                <div class="alert alert-danger" data-dismiss="alert" id="succes-alert" role="alert">@ViewBag.Message</div>
            }
        }
        @using (Html.BeginForm("Registro", "Home"))
        {
            @Html.AntiForgeryToken()
            <input type="submit" value="Guardar Partida" class="btn btn-primary" />
        }
        <br />
        @if (Model != null)
        {

            <table class="table table-bordered">
                <tbody style="color: black">
                    <tr>
                        <td class="marco"></td>
                        <td class="marco">A</td>
                        <td class="marco">B</td>
                        <td class="marco">C</td>
                        <td class="marco">D</td>
                        <td class="marco">E</td>
                        <td class="marco">F</td>
                        <td class="marco">G</td>
                        <td class="marco">H</td>
                        <td class="marco"></td>
                    </tr>
                    <tr>
                        <td class="marco">1</td>
                        @for (int i = 0; i < 8; i++)
                        {
                            foreach (var item in Model.Ficha.Where(e => e.id_fila == 0 && e.id_columna == i))
                            {
                                <td class="celda @item.id_clase" id="celda-0-@i"></td>
                            }
                        }
                        <td class="marco">1</td>
                    </tr>
                    <tr>
                        <td class="marco">2</td>
                        @for (int i = 0; i < 8; i++)
                        {
                            foreach (var item in Model.Ficha.Where(e => e.id_fila == 1 && e.id_columna == i))
                            {
                                <td class="celda @item.id_clase" id="celda-1-@i"></td>
                            }
                        }
                        <td class="marco">2</td>
                    </tr>
                    <tr>
                        <td class="marco">3</td>
                        @for (int i = 0; i < 8; i++)
                        {
                            foreach (var item in Model.Ficha.Where(e => e.id_fila == 2 && e.id_columna == i))
                            {
                                <td class="celda @item.id_clase" id="celda-2-@i"></td>
                            }
                        }
                        <td class="marco">3</td>
                    </tr>
                    <tr>
                        <td class="marco">4</td>
                        @for (int i = 0; i < 8; i++)
                        {
                            foreach (var item in Model.Ficha.Where(e => e.id_fila == 3 && e.id_columna == i))
                            {
                                <td class="celda @item.id_clase" id="celda-3-@i"></td>
                            }
                        }
                        <td class="marco">4</td>
                    </tr>
                    <tr>
                        <td class="marco">5</td>
                        @for (int i = 0; i < 8; i++)
                        {
                            foreach (var item in Model.Ficha.Where(e => e.id_fila == 4 && e.id_columna == i))
                            {
                                <td class="celda @item.id_clase" id="celda-4-@i"></td>
                            }
                        }
                        <td class="marco">5</td>
                    </tr>
                    <tr>
                        <td class="marco">6</td>
                        @for (int i = 0; i < 8; i++)
                        {
                            foreach (var item in Model.Ficha.Where(e => e.id_fila == 5 && e.id_columna == i))
                            {
                                <td class="celda @item.id_clase" id="celda-5-@i"></td>
                            }
                        }
                        <td class="marco">6</td>
                    </tr>
                    <tr>
                        <td class="marco">7</td>
                        @for (int i = 0; i < 8; i++)
                        {
                            foreach (var item in Model.Ficha.Where(e => e.id_fila == 6 && e.id_columna == i))
                            {
                                <td class="celda @item.id_clase" id="celda-6-@i"></td>
                            }
                        }
                        <td class="marco">7</td>
                    </tr>
                    <tr>
                        <td class="marco">8</td>
                        @for (int i = 0; i < 8; i++)
                        {
                            foreach (var item in Model.Ficha.Where(e => e.id_fila == 7 && e.id_columna == i))
                            {
                                <td class="celda @item.id_clase" id="celda-7-@i"></td>
                            }
                        }
                        <td class="marco">8</td>
                    </tr>
                    <tr>
                        <td class="marco"></td>
                        <td class="marco">A</td>
                        <td class="marco">B</td>
                        <td class="marco">C</td>
                        <td class="marco">D</td>
                        <td class="marco">E</td>
                        <td class="marco">F</td>
                        <td class="marco">G</td>
                        <td class="marco">H</td>
                        <td class="marco"></td>
                    </tr>
                </tbody>
            </table>



        }

        <br />
        <input type="submit" value="Turno @ViewBag.turno" class="btn btn-primary" />
    </div>
    <div style=" height: 650px;background-color: rgba(255, 255, 255,0.13);" class="col-lg-3 datos">
        <center>
            @if (Model != null)
            {
                <br />
                <p> Jugador 2 : @Model.Partida2.Jugador.nombres</p>
                <br />
                <p class="datos">Movimientos : @Model.Partida2.movimientos</p>
                <br />
                <p class="datos">Color Ficha : @Model.Partida2.color</p>
                <br />
                <p class="datos">Cantidad Fichas : @Model.Partida2.cantidad_fichas</p>
            }
        </center>

    </div>
</div>

@try
{
    <script type="text/javascript">
        var url = '@Html.Raw(@Url.Action("Individual", "Partida", new { @fila= "color2", @columna = "id_columna2", @id_partida  = Model.id_partida, @turno = "tocaTurno"}))';
        var jugador2 = '@Model.Partida2.color';
        var turno = '@ViewBag.turno';
    </script>
}
catch (Exception)
{

}
@Scripts.Render("~/Scripts/mensajes.js")
@section Scripts { @Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/Tablero.js"></script>
}

